<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="dashboard.css" />
  </head>
  <body>
    <!-- Header Nav Menu -->
    <header>
        <div class="header-nav">
          <ul>
            <li><a href="" class="log-out">Log Out</a></li>
            <li>
              <a href=""><img src="asset/user.png"></img>
            </li>
            <li><a href="">About Us</a></li>
            <li><a href="">Home</a></li>
          </ul>
        </div>
      </header>

    <!-- Sidebar menu -->
    <div class="container">
      <div class="sidebar">
        <div class="main">
          <div class="list-item">
            <a href="">
              <img src="asset/user.png" alt="" class="icon" />
              <span class="email">User <br />user@gmail.com </span>
            </a>
          </div>
          <div class="list-item">
            <a href="dashboard.html" class="active">
              <img src="asset/task.png" alt="" class="icon" />
              <span class="description">Task</span>
            </a>
          </div>
          <div class="list-item">
            <a href="important.html">
              <img src="asset/important.png" alt="" class="icon" />
              <span class="description">Important</span>
            </a>
          </div>
          <div class="list-item">
            <a href="invites.html">
              <img src="asset/add-user.png" alt="" class="icon" />
              <span class="description">Invites</span>
            </a>
          </div>
          <div class="list-item">
            <a href="account.html">
              <img src="asset/user.png" alt="" class="icon" />
              <span class="description">Account</span>
            </a>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div id="menu-button">
          <input type="checkbox" id="menu-checkbox" />
          <label for="menu-checkbox" id="menu-label">
            <div id="hamburger"></div>
          </label>
        </div>
      </div>
      <div class="detail-sidebar">
        <h1>Halo</h1>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
