<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Task</title>
    <link rel="stylesheet" href="dashboard.css" />
  </head>
  <body>
    <header>
      <div class="header-nav">
        <img src="Asset/img/LOGO PUTIH.png" class="logo" />
      </div>
    </header>
    <div class="app">
      <div class="menu-toggle">
        <div class="hamburger">
          <span></span>
        </div>
      </div>

      <aside class="sidebar">
        <nav class="menu">
          <a href="#" class="email">
            <img src="Asset/img/useer.jpg" id="photo" class="user" />
            <input type="file" id="file" />
            <label for="file" id="uploadBtn">Choose Photo</label>
            <span>User</span>
          </a>
          <a href="#" class="menu-item is-active">Task</a>
          <a href="#" class="menu-item">Completed</a>
          <a href="#" class="menu-item">Account</a>
          <a href="#" class="menu-item"><span>Log-out</span></a>
        </nav>
      </aside>
      <main class="content">
        <div class="container">
          <section class="input_section">
            <h2>Tambahkan Task Baru</h2>
            <form id="inputTask">
              <div class="input inner">
                <label for="inputTaskTitle">Judul Task</label>
                <input id="inputTaskTitle" type="text" required />
              </div>
              <div class="input">
                <label for="inputTaskDate">Tanggal</label>
                <input id="inputTaskDate" type="date" required />
              </div>
              <div class="input">
                <label for="inputDescribeTask">Deskripsi Task</label>
                <input id="inputDescribeTask" type="text" required />
              </div>
              <div class="input_inline">
                <label for="inputTaskIsComplete">Task Important</label>
                <input id="inputTaskIsComplete" type="checkbox" />
              </div>
              <button id="taskSubmit" type="submit">
                Masukkan Task ke rak <span>Regular Task</span>
              </button>
            </form>
          </section>
        </div>

        <div class="container">
          <section class="createTask">
            <h2>Regular Task</h2>
            <div id="incompleteCreatetaskfList" class="task_list"></div>
          </section>
          <section class="createTask">
            <h2>Important Task</h2>
            <div id="completeCreatetaskList" class="task_list"></div>
          </section>
        </div>
      </main>
    </div>
    <button class="open-button" onclick="openForm()">Buka Formulir</button>

    <div class="form-popup" id="myForm">
      <form class="form-container">
        <h2>Bukti Task</h2>

        <label for="nama"><b>Nama : </b></label>
        <input type="text" placeholder="Masukkan Nama" name="nama" required />
        <input type="file" id="file" accept="image/*" hidden />
        <div class="img-area" data-img=""></div>
        <button class="select-image">Select Image</button>
        <button type="submit" class="btn">Kirim</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Tutup
        </button>
      </form>
    </div>

    <script src="script.js"></script>
    <script src="dashboard.js"></script>
  </body>
</html>
