<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="cari rekomendasi restaurant disini aja!">
  <meta name="theme-color" content="#DB0000"/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
 <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  
  <title>Resto ku</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip To Content</a>
  <header class="header">
    <button id="menu" class="header__menu" aria-label="navigation-menu">☰</button>
  </header>
  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/home">Home</a></li>
      <li class="nav__item"><a href="#/about">About</a></li>
      <li class="nav__item"><a href="#/login">Login</a></li>
      <li class="nav__item_signup"><a href="#/register">Signup</a></li>
    </ul>
  </nav>
    <main tabindex="0" id="mainContent"></main>

<footer>
</footer>
</body>
</html>
