* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #14213d;
  width: 100%;
  display: flex;
}

li {
  list-style: none;
}

.header-nav {
  height: 70px;
  width: 100%;
}

.header-nav img {
  width: 10%;
}

.header-nav .log-out {
  box-sizing: border-box;
  border-radius: 20px;
  background: #fca311;
  padding: 6px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #8d72e1;
  transition: 0.3s;
}

.main-sidebar {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #fca311;
  width: 260px;
  /* padding: 24px; */
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  transition: all ease-in 0.2s;
}

.sidebar.hide {
  width: 62px;
  transition: all ease-out 0.2s;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .main .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding: 15px 10px;
  border-radius: 25px;
  /* width: 212px; */
  box-sizing: border-box;
  transition: all ease-in 0.2s;
  background: #14213d;
  text-align: center;
}

.sidebar .main .list-item-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding-bottom: 15px;
  border-radius: 25px;
  /* width: 212px; */
  box-sizing: border-box;
  transition: all ease-in 0.2s;
  background: #14213d;
  text-align: center;
  transform: translate(-1%, -1%);
  border: 1px solid grey;
  overflow: hidden;
}

.sidebar .main .list-item:hover {
  background: #8d72e1;
  transition: all ease-in 0.2s;
}

.sidebar .main .list-item .icon {
  margin-right: 12px;
  align-items: center;
  padding-left: 5px;
}

.sidebar .main .list-item-user .user {
  margin-right: 12px;
  margin-top: 15px;
  align-items: center;
}

.sidebar .main .list-item-user:hover {
  background: #8d72e1;
  transition: all ease-in 0.2s;
}

#photo {
  height: 30%;
  width: 30%;
  float: left;
  padding-left: 20px;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
}

.sidebar .main .list-item-user img {
  height: 10%;
  width: 10%;
  border-radius: 5%;
}

.sidebar .main .list-item img {
  width: 30px;
}

.sidebar .main .list-item .description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  float: right;
  padding-top: 7px;
}

.sidebar.hide .main .list-item .description {
  display: none;
}

.sidebar .main .list-item-user .email {
  display: flex;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  margin: 15px;
  padding-top: 15px;
}

.sidebar.hide .main .list-item-user .email {
  display: none;
}

/* Hamburger menu sidebar */

#menu-button {
  width: 32px;
  position: absolute;
}

#menu-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}

#hamburger,
#menu-label::after,
#menu-label::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #14213d;
}

#menu-label::after,
#menu-label::before {
  content: "";
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#menu-label::before {
  top: 0;
}

#menu-label::after {
  top: 8px;
}

#hamburger {
  top: 16px;
}

#hamburger::before {
  content: "MENU";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #111827;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

#menu-checkbox:checked + #menu-label::before {
  left: -39px;
}
#menu-checkbox:checked + #menu-label::after {
  left: 39px;
}
#menu-checkbox:checked + #menu-label #hamburger::before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards, shakeDown 0.8s ease 0.2s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  70% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes shakeDown {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

main {
  width: 80%;
  flex-direction: row;
}

.container-dash {
  background-color: #ffffff;
  flex-grow: 1;
}

.container-dash h1 {
  font-size: 50px;
  text-align: right;
  padding-top: 20px;
}

.input-part {
  width: 95%;
  height: 50%;
  float: left;
  margin-top: 22px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 30px;
}

.input-part > h2 {
  text-align: center;
  color: #14213d;
}

.input-part > form > .input_ {
  margin: 8px 0;
}

.input-part > form > button {
  background-color: #14213d;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input-part > form > button > span {
  font-weight: bold;
}

.input-part > form > .input_ > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input-part > form > .input_ > label {
  color: #14213d;
  font-weight: bold;
}

.input-part > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input-part > form > .input_inline > label {
  color: #14213d;
  font-weight: bold;
  margin-right: 10px;
}

.create_task {
  width: 95%;
  height: 50%;
  float: left;
  margin-left: 35px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 30px;
}

.create_task > h2 {
  color: #14213d;
}

.create_task > .list_of_task {
  padding: 16px;
}

.create_task > .list_of_task > .inner_ {
  padding: 15px 16px 16px 16px;
  margin: 10px 0;
}

.create_task > .list_of_task > .inner_ > h2,
p {
  margin: 5px 0;
}

.create_task > .list_of_task > .inner_ > button {
  padding: 5px;
  margin: 0 15px 0 0;
  cursor: pointer;
  position: relative;
  float: right;
}

.undo-button {
  width: 30px;
  height: 30px;
  background: url("../public/assets/undo-ouline.svg");
  background-size: contain;
  margin-left: 25px;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url("../public/assets/replace.svg");
  background-size: contain;
}

.replace-button {
  width: 30px;
  height: 30px;

  background: url("../public/assets/replace.svg");
  background-size: contain;
  margin-left: 25px;
  cursor: pointer;
  border: none;
}

.replace-button:hover {
  background: url("../public/assets/undo-ouline.svg");
  background-size: contain;
}

.trash-button {
  width: 30px;
  height: 30px;

  background: url("../public/assets/trash-outline.svg");
  background-size: contain;
  margin-left: 25px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url("../public/assets/trash-fill.svg");
  background-size: contain;
}

.check-button {
  width: 30px;
  height: 30px;

  background: url("../public/assets/check-outline.svg");
  background-size: contain;
  margin-left: 25px;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("../public/assets/check-solid.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

.open_button {
  background-color: #555;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
}

.form_popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  padding: 5px;
}

.form_container {
  max-width: 300px;
  padding: 15px;
  background-color: white;
  margin: 10px;
}

.form_container h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  font-family: "Courier New", Courier, monospace;
}

.form_container b {
  font-size: 20px;
  font-family: monospace;
}

.form_container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

.form_container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

.form_container .btn {
  background-color: #fca311;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form_container .cancel {
  background-color: #14213d;
}

.form_container .btn:hover,
.open_button:hover {
  opacity: 1;
}

.form_popup .form_container .my-img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin-bottom: 20px;
}

.image_area {
  position: relative;
  width: 100%;
  height: 150px;
  background: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.image_area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 100;
}
.image_area::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 200;
}
.image_area.active:hover::before {
  opacity: 1;
  
}
.image_select {
  display: flex;
  width: 100%;
  padding: 5px 0;
  border-radius: 15px;
  background: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  justify-content: center;
}

.image_select:hover {
  background: #555;
}
