@media screen and (max-width: 1000px) {
  .learn{
    width: 80%;
  }

  .earn{
    width: 80%;
  }

  .learn-content{
    display: flex;
    flex-wrap: wrap;
  }

  .learn-content img{
    margin: 0 auto;
    width: 85%;
  }

  .learn-content h1{
    margin: 0 auto 20px auto;
    padding: 0;
  }

  .learn-content p{
    margin: 0 auto;
  }

  .learn-description{
    padding: 0 7% 7% 7%;
    margin: 0 auto;
  }

  .earn-content{
    display: flex;
    flex-wrap: wrap;
  }

  .earn-content img{
    margin: 0 auto;
    width: 85%;
  }

  .earn-content h1{
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: center;
  }

  .earn-content p{
    margin: 0;
    width: 100%;
  }

  .earn-description{
    padding: 0 7% 7% 7%;
    margin: 0 auto;
  }

  .text-earn{
    margin-top: 0;
    padding-left: 0;
  }
}


@media screen and (max-width: 800px) {
  .hero img{
    width: 65%;
  }
}