@media screen and (max-width: 1000px) {
  .learn{
    width: 80%;
  }

  .earn{
    width: 80%;
  }

  .learn-content{
    display: flex;
    flex-wrap: wrap;
  }

  .learn-content img{
    margin: 0 auto;
    width: 85%;
  }

  .learn-content h1{
    margin: 0 auto 20px auto;
    padding: 0;
  }

  .learn-content p{
    margin: 0 auto;
  }

  .learn-description{
    padding: 0 7% 7% 7%;
    margin: 0 auto;
  }

  .earn-content{
    display: flex;
    flex-wrap: wrap;
  }

  .earn-content img{
    margin: 0 auto;
    width: 85%;
  }

  .earn-content h1{
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: center;
  }

  .earn-content p{
    margin: 0;
    width: 100%;
  }

  .earn-description{
    padding: 0 7% 7% 7%;
    margin: 0 auto;
  }

  .text-earn{
    margin-top: 0;
    padding-left: 0;
  }
}


@media screen and (max-width: 800px) {
  .hero img{
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .login_box{
    width: 70%;
  }

  .signup_box{
    width: 70%;
  }
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .hero h1{
    font-size: 25px;
  }
  .hero p{
    font-size: 10px;
    margin-top:5px;
  }

  .about_tim p{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .login_box{
    width: 80%;
  }

  .signup_box{
    width: 80%;
  }

  .login_box .forgot-password{
    font-size: 12px;
    float: none;
    width: 100%;
    margin-top: 0;
  }
  
  .login_box .create-new-account{
    font-size: 12px;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}